body{
  background-color: #f5f5dc;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 18px;
  color: #808080;
  margin: auto;
  padding: auto;
  border: none;
}

header {
  background-color: #305f7a;
  color: #fff;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  margin: auto;
  border: none;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 0px;
}

nav {
  background-color: #333;
  padding: 15px 0px 15px 0px;
  margin: 0px 0px;
  border: none;
  color: #f2f2f2;
}

nav a {
  border: 1px black thick;
  margin-left: 20px;
  margin-right: 30px;
  color: #f2f2f2;
  font-size: 18px;
  text-decoration: none;
}

nav a:hover {
  color: cornflowerblue;
  text-decoration: underline;
}

main {
  background-color: #BC986A;
  color: #333;
  padding-top: 1vh;
  padding-bottom: 2vh;
  margin: 10px 10px 10px 10px;
  border: none;
}

h2 {
  text-align: center;
  font-size: 48px;
  padding-right: 16px;
}

h3 {
  margin-top: 36px;
}

#icon {
  margin-top: 16px;
  margin-left: 16px;
}

.page-text {
  text-align: center;
}

#definition {
  margin-left: 16px;
}


footer {
  background-color: #333;
  color: #f2f2f2;
  margin: auto;
  font-size: 13px;
  padding: 1vh 5px;
}

table {
  width: 40%;
  padding-bottom: 36px;
  margin-bottom: 16px;
  margin-top: 128px;
  margin-left: 16px;
  border-collapse: collapse;
  text-align: justify;
  border: 1px solid #ddd;
}

#action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

th {
  background-color: #305f7a;
  padding-left: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  border: 1px solid #ddd;
}

tr:nth-child(even){
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

tr:nth-child(odd){
  background-color: #d6d6d6;
  border: 1px solid #ddd;
}

td{
  padding-left: 5px;
  border: 1px solid #ddd;
  margin: auto;
  color: #333;
  padding-top: 2px;
  padding-bottom: 2px;
}

button {
  padding: 7px 24px;
  margin: 48px;
}

caption {
  font-size: 20px;
}

fieldset{
  font-family: Roboto, sans-serif;
  color: #f5f5dc;
  background-color: #f2f2f2;
}

textarea {
  padding: 8px 218px;
}

form {
  padding: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
}

#ran-word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#definition {
  display: flex;
  flex-direction: column;
}

legend {
  font-family: Roboto, sans-serif;
  color: white;
  background-color: #305f7a;
  padding: 13px 13px 13px 13px;
  margin: 3px 3px 3px 3px;
  border: 2px solid #ddd;
  font-size: 18px;
}

label {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 18px;
  margin: auto;
  padding: auto;
  margin-left: 5px;
}

input {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #333;
  padding: auto;
  margin: auto;
  margin-left: 0.5vw;
  margin-right: 45vw;
  margin-bottom: 1.5vh;
  padding: 5px 16px;
}

button {
  font-family: Roboto, sans-serif;
  color: #333;
  background-color:#d6d6d6;;
  border: 2px solid white;
  padding: 8px 32px;
  font-size: 16px;
  margin-left: 16px;
  margin-top: 16px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#go {
  margin-left: 45%;
  padding: auto;
}